####################################
#                                  #
#  Current status of the service   #
#                                  #
####################################

The status of service is: 

{{ output_result | to_nice_yaml  }}

Create by Ansible
